@if(!isLoading){
<div
  class="container d-flex flex-column flex-lg-row gap-3 gap-lg-5 align-items-center text-center text-lg-start"
>
  <figure class="separador">
    <img class="profileImg" [src]="user.image" [alt]="user.first_name" />
  </figure>
  <div>
    <h3>{{ user.first_name }}</h3>
    <h4>{{ user.last_name }}</h4>
    <p><strong>Nombre de Usuario: </strong>{{ user.last_name }}</p>
    <p><strong>Email: </strong>{{ user.email }}</p>

    <div
      class="d-flex flex-wrap gap-3 justify-content-center align-items-center"
    >
      <button
        class="btn btn-danger px-4 py-2 shadow-sm"
        (click)="confirmDelete()"
      >
        <i class="bi bi-trash"></i> Eliminar
      </button>

      <button
        class="btn btn-primary px-4 py-2 shadow-sm"
        [routerLink]="['/updateUser', user._id]"
      >
        <i class="bi bi-pencil-square"></i> Actualizar
      </button>

      <button class="btn btn-dark px-4 py-2 shadow-sm" [routerLink]="['/home']">
        <i class="bi bi-arrow-left-circle"></i> Volver al Listado
      </button>
    </div>
  </div>
</div>
} @else {
<app-loading></app-loading>
}
